@import "tailwindcss";

/* small helper so we can apply the handwritten font only to the editor */
.editor-handwritten {
  font-family: "Patrick Hand", cursive;
  /* font-family: 'Dancing Script', cursive; */
  /* font-family: 'Caveat', cursive; */
}

/* Hide scrollbar for all browsers */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
